.list-scroll {
  margin: 1em;
  padding: 2em;
  background-color: white;
  width: 35em;
  height: 50em;
  overflow: auto;
}

.list-container {
  margin: 5em 5em;
}

.detail-container {
  margin-right: 10em;
  margin-top: 20em;
  margin-left: 25em;

}

.house-detail {
  text-align: center;
  padding: 10px;
  margin-right: 10em;
  margin-top: 20em;
  margin-left: 25em;
  
}

.house-detail h1 {
  width: 30rem;
  text-align: center;
  color: grey;
  margin-top: 2rem;
}

.ui.segment {
  font-size: 20px;
  width: 32rem;
  border: 3px solid;
  box-shadow: 2px;
}